* {
  font-family: "Red Hat Display";
}
body {
  margin: 0;
  background-color: hsl(221, 100%, 95%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  width: 28.125rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5px;
  background-color: white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.banner {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.heading {
  font-size: 26px;
  font-weight: bolder;
  text-align: center;
  color: hsl(223, 47%, 23%);
}
.description {
  text-align: center;
  padding-left: 4rem;
  padding-right: 4rem;
  color: hsl(224, 23%, 55%);
}
.background {
  top: 0;

  position: absolute;
  z-index: -2;
}
.plan-container {
  width: 18rem;
  background-color: hsl(225, 100%, 98%);
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
}
.plan-price {
  margin-top: -1rem;
}
.payment {
  color: hsl(225, 100%, 98%);
  font-weight: bolder;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: hsl(245, 75%, 52%);
  padding: 1rem 4rem 1rem;
}
.payment:hover {
  cursor: pointer;
  opacity: 70%;
}
.change {
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
}
.change:hover {
  cursor: pointer;
  text-decoration: none;
}
.cancel {
  color: hsl(223, 47%, 23%);
  font-weight: 700;
  font-size: 14px;
  opacity: 40%;
  margin-bottom: 2rem;
}
.cancel:hover {
  cursor: pointer;

  opacity: 100%;
}

@media (max-width: 768px) {
  body {
    margin: 0;
    overflow: hidden;
  }
  .main {
    margin-left: 3rem;
  }
  .content {
    width: 22.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .description {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .banner {
    scale: 80%;
    margin-bottom: -1.5rem;
  }
  .plan-container {
    width: 15rem;
  }
  .background {
    display: none;
  }
}
